.table-list{
    width: 80%!important;
    margin: 0px auto!important;
    margin-top: 50px!important;
}
.main-content {
    margin-top: 50px;
}
.export-csv {
    margin-left: 50px;
    text-decoration: none;
    .btn-export-csv{
        height: 55px;
    }
}